<form method="post" action="/search">
  <div class="form-group">
    <label for="search_term">Futtersuche</label>
    <input type="text" class="form-control" id="search_term"
      name="search_term" placeholder="Essensbeschreibung eingeben">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
