<div class="row">
  <div class="col-xs col-sm">
    <form method="post" action="/search">
      <div class="form-group">
        <label for="search_term">Futtersuche</label>
        <input type="text" class="form-control" id="search_term"
          name="search_term" placeholder="Essensbeschreibung eingeben">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>

<% if aggr.first %>
<div class="row" style="margin-top: 20px">
  <div class="col-xs col-sm">
    <h3>Statistiken</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Datum</th>
          <th scope="col">Kalorien</th>
          <th scope="col">Gr. 1</th>
          <th scope="col">Gr. 2</th>
          <th scope="col">Gr. 3</th>
          <th scope="col">Gr. 4</th>
          <th scope="col">Gr. 5</th>
          <th scope="col">Gr. 6</th>
          <th scope="col">Gr. 7</th>
        </tr>
      </thead>
      <tbody>
        <% aggr.each do |date, h| %>
          <tr>
            <td>
              <a href="/detail?created_at=<%= date %>"><%= date %></a>
            </td>
            <% h.each do |_c, bst| %>
              <td><%= "%.1f" % [bst] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
